<?xml version="1.0" encoding="utf-8"?>

<configuration>
  
  <connectionStrings>
    <add name="InvoiceContext" connectionString="Data Source=(localdb)\v11.0; Initial Catalog=InvoiceContext-20130803155807; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|InvoiceContext-20130803155807.mdf" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>